<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> Parser Website </title>
        <link rel="stylesheet" href = {{url_for('static', filename='parser-style.css')}}>
    </head>
    <body>

        <div class="topnav" id="myTopnav">
            <div class="wrapper">
                <nav>
                    <ul class="nav-items">
                        <li>
                            <a href="parser-index.html">Home</a>
                        </li>
                        <li>
                            <a href="https://github.com/Kamize/Parser-Website#parser-website">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                            <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a> -->
                    </ul>
                </nav>
            </div>
        </div>

        </div>
        
        <div class="title-container">
            <h1> 
                SWEDISH
            </h1>
            
            <h2>
                Lexical Analyzer & Grammar Check
            </h2>
        </div>

        <div class = "available-input">
            <div class="cards">
                <h3>Subjects</h3>
                <li>Jag &emsp;(I)</li>
                <li>Du  &emsp;(You)</li>
                <li>Han &emsp;(He)</li>
                <li>Hon &emsp;(She)</li>
            </div>

            <div class="cards">
                <h3>Verbs</h3>
                <li>köper (buy)</li>
                <li>äljer (sell)</li>
                <li>äter (eat)</li>
                <li>gillar (like)</li>
            </div>

            <div class="cards">
                <h3>Objects</h3>
                <li>godis (candy)</li>
                <li>frukt (fruit)</li>
                <li>kött (meat)</li>
                <li>kex (biscuit)</li>
            </div>
        </div>

        <form class = "input-container" onsubmit="checkGrammar(event)" method="GET">
            <div class="text-input">
                <input type = "text" id="input" cols="30" rows="10" name="sentence" placeholder="Put Swedish sentence with available input above"></input>
            </div>
            <div class="button">
                <input type="submit" value="Check">
            </div>
        </form>
        
        <div class="incorrect-notify" hidden>
            Error : input is not valid. Please check your typing and grammar.
        </div>
        <div class="correct-notify" hidden>
            Congrats! Your input already correct!
        </div>
        <div id = "notification" class = "notif" hidden>
            STATE :: 
        </div>
        
        <script src={{url_for("static", filename="parser-script.js")}}></script>
    </body>
</html>